data/
models/
envs/
src/
.env
.venv/
.vscode/
__pycache__/
*.pyc
notebooks/*
!notebooks/.gitkeep
!notebooks/VIBTARVE_Visualization.ipynb
!notebooks/VIBTARVE_Progress.ipynb
!notebooks/VIBTRAVE_Visualizations.ipynb
**/.ipynb_checkpoints/
